spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/receiptwise
    username: receiptwise
    password: receiptwise

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

    spring:
      jpa:
        open-in-view: false

server:
  port: 8081
